.inputdata {
  padding: 5px;
  display: flex;
  align-items: center;

  background-color: antiquewhite;
  justify-content: center;
  height: 100vh;
}

.formdata {
  display: flex;
  align-items: center;
}
button {
  background-color: #4caf50; /* Green */
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: large;
  text-align: center;
  color: white;
  width: fit-content;
}

.formdata > input {
  opacity: 0.8;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: large;
  text-align: center;
}
.formcontainer {
  display: flex;
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(118, 89, 89),
    0.3em 0.3em 1em rgba(201, 224, 127, 0.3);
}
